@import './abstracts/functions/functions.scss'; 
@import './abstracts/variables/variables.scss'; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
  font-family: 'Roboto', 'sans-serif';
}

body {
  line-height: 1.5;
  font-size: 16px;
  background-color: $clrGray;
}

.container {
  color: $clrWhite;
  @include flex(column, unset,center);
  gap: 5em;
  max-width: 72rem;
  margin: 0 auto;
  padding: 7em 3em;
  min-height: 100vh;
}

.new__task {
  @include flex(row, center, center);
  gap: 1em;
  width: 100%;

  &-input {
    width: 100%;
    padding: .4em .5em;
    border-radius: 3px;
    outline: none;
  }

  &-add {
    cursor: pointer
  }
}

.tasks {
  @include flex(column, center, center);
  width: 100%;
  
}

.task {
  @include flex(row, space-between, center);
  font-size: 1.6rem;
  width: 100%;
  border-bottom: 1px solid #202020;
  padding: 1em 0;

  &__info {

    & > span {
      margin-left: .5em;
    }
  }


  &__actions {
    @include flex(row, center, center);
    gap: 1em;
    &-edit, &-delete {
      display: block; 
    }
  }
}

@media screen and  (max-width: 420px){
  .new__task {
    position: absolute;
    bottom: 2vh;
    max-width: 85vw;
  }
  .container {
    color: #fff;
    display: block;
    max-width: 72rem;
    margin: 0 auto;
    padding: 5em 3rem;
    min-height: 100vh;
  }
}